.forecast {
    margin-top: 50px;

    .daily_item {
        background-color: white;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        cursor: pointer;
        padding: 5px 20px;

        .icon {
            width: 50px;
        }

        .day {
            flex: 1 1;
            margin-left: 20px;
            font-weight: 600;
            color: #777;
        }

        .desc {
            flex: 1 1;
            text-align: right;
            margin-right: 20px;
        }

        .min_max {
            color: #777;
        }
    }

    .daily_details {
        margin-bottom: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(350px, 100%), 1fr));
        gap: 15px;
        background-color: #777;
        color: white;
        margin-top: -20px;
        padding: 20px 0;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;

        .daily_detail {
            display: flex;
            justify-content: center;
            & span:first-child {
                margin-right: 10px;
            }
            & span:last-child {
                font-weight: 600;
            }
        }
    }
}

@media (max-width: 450px) {
    // .forecast {
    //     .daily_item {

    //     }
    // }
    :root {
        font-size: 12px;
    }
}